<div class="col-10 offset-1 about">
  <h1 class="text-center">About</h1>

    <p>
    Wordy was built by <a target="_blank" href="https://fyassin.netlify.com/">Faneeza</a> She wanted to have a forum where book lovers could share their favorite book quotes. 
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Faneeza.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-left">Faneeza Yassin</h2>
      <br />
      <p>
        Faneeza is a beginner web developer.
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />