<h2>
  <span>WORDY / No. <%= @quote.id %></span>
  Here are the <u>best book quotes</u> you'll ever read!
</h2>


<h1 class="text-center"><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />